


body {
  background: #707070;
}
.blog {
  h1{
    font-size: 40px;
    &:hover{
      color: blue;
    }
  }
}
.entry p{
    font-size: 12px;
    margin: 20px;
    &:hover{
      color: blue;
    }
    html.csscolums &{
    column-count: 2;
    column-gap: 10px;
    margin: 10px;
  }
}
